{% extends "Layout/base.html.twig" %}

{% block body %}

    <div class="text-center p-3">
        <h1>{{boardName}}</h1>
    </div>

    {% for info in threadInfo %}
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <p class="card-title">Anonymous</p>
                    <p class="card-title">{{info.date}}</p>
                    <a class="threadId card-title" name="{{info.threadId}}" href="{{mainThreadId}}/#{{info.threadId}}">{{info.threadId}}</a>  
                </div>
                
                <div class="threadImg">
                    <img src="/uploads/{{info.fileData}}" class="rounded float-left img-fluid" style="width: 40%; height: 40%;" alt="">
                </div>

                <div class="threadText">
                    {{ info.text | raw }}
                </div>

                <div class="threadRepliesFrom">
                    <p>{{info.repliesFrom | raw}}</p>  
                </div>
            </div>
        </div>
    {% endfor %}
    
    <div class="text-center p-3" >
        <h4 id="formPosting">Send message</h4>
    </div>

    <div class="form">
        {{ form_start(form, {'attr': {'id': 'threadForm'}}) }}   
            <div id="threadText">
                {{ form_row(form.threadText, {'attr': {'id': 'fileInput'}}) }}
            </div>
            <div id="threadFileData">
                {{ form_row(form.mediaFile) }}
            </div>
            <button type="submit" class="btn" id="sendMessage">Submit</button>
    
        {{ form_end(form) }}
    </div>

{% endblock %}